<ion-item class="ion-text-end" lines="none">
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration?.mapVisible">
    <ion-button fill="outline" color="dark"  (click)="emitTabSelected(ListMapTypes[ListMapTypes.mapVisualization])">
      <ion-icon slot="end" name="pin-outline" class="title"> </ion-icon>
      {{ 'mappa' | translatePipe}}
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration?.listVisible">

    <ion-button fill="outline" color="dark" (click)="emitTabSelected(ListMapTypes[ListMapTypes.listVisualization])">
      {{ 'lista' | translatePipe}}
      <ion-icon slot="end" name="list-outline" class="title"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="listMapConfiguration?.filterVisible">
    <ion-button fill="outline" color="dark">
      <ion-icon name="filter-outline" class="title"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="listMapConfiguration?.curretnPositionVisible">
    <ion-button fill="outline" color="dark" (click)="currentPosition()">
      <ion-icon name="locate-outline" class="title"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center">

    <span class="ion-text-wrap text larger" *ngIf="chieseList?.length > 1">{{chieseList?.length}} {{ 'chiese' | translatePipe}}</span>
    <span class="ion-text-wrap text larger" *ngIf="chieseList?.length == 1">{{chieseList?.length}} {{ 'chiesa' | translatePipe}}</span>

  </ion-col>
</ion-item>