<ion-item class="ion-text-end" lines="none">
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration?.mapVisible">
    <ion-button fill="outline" class="action-button" color="light" (click)="emitTabSelected(ListMapTypes[ListMapTypes.mapVisualization])">
      {{ 'maps' | translatePipe}}
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration?.listVisible">

    <ion-button fill="outline" class="action-button" color="light" (click)="emitTabSelected(ListMapTypes[ListMapTypes.listVisualization])">
      {{ 'lists' | translatePipe}}
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="listMapConfiguration?.filterVisible">
    <ion-button fill="outline" class="action-button" color="light">
      <ion-icon name="filter-outline" color="light" class="title"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="listMapConfiguration?.curretnPositionVisible">
    <ion-button fill="outline" class="action-button" color="light" (click)="currentPosition()">
      <ion-icon name="locate-outline" class="title" color="light"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center">

    <span class="ion-text-wrap text larger" *ngIf="chieseList?.length > 1">{{chieseList?.length}} {{ 'punti' | translatePipe}}</span>
    <span class="ion-text-wrap text larger" *ngIf="chieseList?.length == 1">{{chieseList?.length}} {{ 'punto' | translatePipe}}</span>

  </ion-col>
</ion-item>