<ion-item class="ion-text-end">
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration.mapVisible">
    <ion-button fill="outline" (click)="emitTabSelected(ListMapTypes[ListMapTypes.mapVisualization])">
      <ion-icon name="pin-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="!listMapConfiguration.listVisible">
    <ion-button fill="outline" (click)="emitTabSelected(ListMapTypes[ListMapTypes.listVisualization])">
      <ion-icon name="list-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" *ngIf="listMapConfiguration.filterVisible">
    <ion-button fill="outline">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center">

    <ion-label *ngIf="chieseList?.length > 1">{{chieseList?.length}} {{ 'chiese' | translatePipe}}</ion-label>
    <ion-label *ngIf="chieseList?.length == 1">{{chieseList?.length}} {{ 'chiesa' | translatePipe}}</ion-label>

  </ion-col>
</ion-item>