<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header>


    <ion-item lines="none">
      <ion-icon class="title" slot="start" name="text-outline"></ion-icon>
      <span class="ion-text-wrap title larger">
        {{ getTranslation('descrizione-del-progetto') | translatePipe}}
      </span>
    </ion-item>

    <ion-item>
      <span class="ion-text-wrap text large">
        {{
          getTranslation('testo-progetto') | translatePipe
        }}
      </span>
    </ion-item>

    </ion-card-header>

    <ion-row>
      <ion-col size="6" class="ion-text-center">

        <img class="image-progetto" src="../../../../assets/images/logo_santagiusta.png" />
      </ion-col>

      <ion-col size="6" class="ion-text-center">

        <img class="image-progetto" src="../../../../assets/images/centrato2righe.png" />
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="outline" color="dark" [routerLink]="['/tablinks/home']">
          <ion-icon name="arrow-forward-outline" class="title"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>