<ion-card *ngIf="chiesa.pmdb_categorie[0] != 'itinerari'" [routerLink]="['/tablinks/chiesa-detail', chiesa.id]">

  <img *ngIf="chiesa.pmdb_immagine_in_evidenza" src="{{chiesa?.pmdb_immagine_in_evidenza.large}}" />
  <ion-card-header>
    <ion-card-title class="title x-large" [innerHTML]="chiesa?.pmdb_titolo | titleDeleteComa">
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="text larger" [innerHTML]="chiesa?.pmdb_location_city | titleDeleteComa">
  </ion-card-content>
</ion-card>

<ion-card *ngIf="chiesa.pmdb_categorie[0] == 'itinerari'"
  [routerLink]="['/tablinks/itinerario-item-detail', chiesa.id]">

  <img *ngIf="chiesa.pmdb_galleria_foto.length > 0" src="{{chiesa?.pmdb_galleria_foto[0]}}" />
  <ion-card-header>
    <ion-card-title class="title x-large" [innerHTML]="chiesa?.pmdb_titolo | titleDeleteComa">
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="text larger" [innerHTML]="chiesa?.pmdb_location_city | titleDeleteComa">
  </ion-card-content>
</ion-card>