<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title">
        {{ 'preferiti' | translatePipe}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <span class="title">
          {{ 'preferiti' | translatePipe}}
        </span></ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row [hidden]="chieseRomaneFiltered.length == 0">
    <app-chiese-list [chieseRomane]="chieseRomaneFiltered"></app-chiese-list>
  </ion-row>

  <ion-row [hidden]="chieseRomaneFiltered.length != 0">
    <app-no-found style="height: 100%;     width: 100%; " [phase]="'naviga-chiese-aggiungi-preferiti'"></app-no-found>
  </ion-row>
</ion-content>