.leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

.leaflet-popup-content {
    margin: 0;
    line-height: 1.4;
}

.map-page{
    height: 100%;
    width: 100%;
}

.map-row{
    width: 98%; height: 98%; margin: 1%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}