<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title">
        {{ 'visita-interattiva' | translatePipe}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <span class="title">
          {{ 'visita-interattiva' | translatePipe}}
        </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-virtual-tour [chieseRomane]="chieseRomane | async" [beaconInterno]="beaconInterno"
    [beaconEsterno]="beaconEsterno" (stopRangingBeaconsInRegion)="stopRangingBeaconsInRegion()">
  </app-virtual-tour>

</ion-content>