<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="title">
        {{ 'visita-interattiva' | translatePipe}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <span class="title">
          {{ 'visita-interattiva' | translatePipe}}
        </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <app-chiesa-detail-component [hidden]="!chiesaScanned[0]" [chiesa]="chiesaScanned" [interno]="!!beaconInterno"
  [esterno]="!!beaconEsterno" [virtualTour]="true" (stopRangingBeaconsInRegion)="stopRangingBeaconsInRegion()">
  </app-chiesa-detail-component>

  <app-loading [hidden]="chiesaScanned[0]"></app-loading>

</ion-content>