<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'chiese' | translatePipe}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{ 'chiese' | translatePipe}}
      </ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-searchbar showcancelbutton="always" (ionInput)="filterList($event)">
  </ion-searchbar>

  <div *ngIf="chieseRomane | async as chieseList; else loading">
    <app-map-list-tabs [chieseList]="chieseList" *ngIf="!hideFilter"
      [listMapConfiguration]="listMapSettingsConfiguration" (tabSelected)="getListMapSettings($event)">
    </app-map-list-tabs>

    <app-home-content [chieseList]="chieseList" [listMapConfiguration]="listMapSettingsConfiguration">
    </app-home-content>
  </div>

</ion-content>