<ion-card *ngIf="chiesa">

  <ion-card-header>

    <ion-item lines="none">
      <ion-card-title class="ion-text-wrap" [innerHTML]="chiesa[0]?.title.rendered | titleDeleteComa"></ion-card-title>
      <ion-button *ngIf="!virtualTour" fill="outline" slot="end" (click)="addToPreferiti()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!virtualTour">
      <ion-label class="ion-text-wrap">Inizia visita interattiva</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tablinks/dashboard']">
        <ion-icon name="radio-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let foto of chiesa[0]?.pmdb_galleria_foto">
      <img src="{{foto}}" (click)="showImageFullScren(foto)" />
    </ion-slide>
  </ion-slides>
  <ion-card-content>

    <ion-item lines="none">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label [innerHTML]="chiesa[0]?.pmdb_location_city"></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label class="ion-text-wrap" color="dark" [innerHTML]="chiesa[0]?.pmdb_location_address"></ion-label>

    </ion-item>


    <ion-item>
      <ion-icon slot="start" name="text-outline"></ion-icon>
      <ion-label class="ion-text-wrap" color="dark" [innerHTML]="chiesa[0]?.narrazione">
      </ion-label>
    </ion-item>

    <iframe *ngIf="virtualTour && chiesa[0].virtual_tour && esterno" id="iframe" [hidden]="!showIframe" width="100%"
      height="315" [src]="dashboardTemplateService.iframeSanitize(chiesa[0])" allowfullscreen="true">
    </iframe>

  </ion-card-content>
</ion-card>