<ion-card *ngIf="chiesa">

  <ion-card-header>

    <ion-item lines="none">
      <ion-card-title class="ion-text-wrap" [innerHTML]="chiesa[0]?.title.rendered | titleDeleteComa"></ion-card-title>
      <ion-button *ngIf="!virtualTour" [hidden]="isPrefferedYet" fill="outline" slot="end" (click)="addToPreferiti()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!virtualTour">
      <ion-label class="ion-text-wrap">
        {{ 'inzia-visita-interattiva' | translatePipe}}
      </ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tablinks/dashboard']">
        <ion-icon name="radio-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!virtualTour">
      <ion-label class="ion-text-wrap">
        {{ 'indicazioni-stradali' | translatePipe}}
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="openMaps()">
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-card-header>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let foto of chiesa[0]?.pmdb_galleria_foto">
      <img class="img-chiesa" src="{{foto}}" (click)="showImageFullScren(foto)" />
    </ion-slide>
  </ion-slides>
  <ion-card-content>

    <ion-item lines="none">
      <ion-icon color="primary" slot="start" name="pin-outline"></ion-icon>
      <ion-label [innerHTML]="chiesa[0]?.pmdb_location_city"></ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="primary" slot="start" name="map-outline"></ion-icon>
      <ion-label class="ion-text-wrap" color="dark" [innerHTML]="chiesa[0]?.pmdb_location_address"></ion-label>

    </ion-item>

    <div class="ion-no-padding">
      <ion-chip outline color="secondary" *ngFor="let categoria of chiesa[0]?.pmdb_categorie">
        <ion-label [innerHTML]="categoria | translatePipe">categoria</ion-label>
      </ion-chip>
    </div>

    <ion-item lines="none">
      <ion-icon color="primary" slot="start" name="text-outline"></ion-icon>
      <ion-label>
        {{ 'narrazione' | translatePipe}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap" color="dark" [innerHTML]="chiesa[0]?.narrazione">
      </ion-label>
    </ion-item>


    <ion-row class="ion-align-items-center">
      <ion-col size="3" class="ion-align-items-center">
        <ion-button color="light" (click)="ShareGeneric('text')">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-align-items-center">
        <ion-button color="warning" (click)="SendEmail()">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-align-items-center">
        <ion-button color="primary" (click)="ShareFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-align-items-center">
        <ion-button color="success" (click)="ShareWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <div *ngIf="virtualTour && interno">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="film-outline"></ion-icon>
        <ion-label>
          {{ 'multimedia' | translatePipe}}
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top" *ngIf="chiesa[0].audio ">
        <audio controls style="width: 100%;">
          <source [src]="chiesa[0]?.audio" type="audio/mp4">
        </audio>
      </ion-item>

      <ion-item class="ion-margin-top" *ngIf="chiesa[0].virtual_tour">
        <iframe id="iframe" [hidden]="!showIframe" width="100%" height="315"
          [src]="dashboardTemplateService.iframeSanitize(chiesa[0])" allowfullscreen="true">
        </iframe>
      </ion-item>

    </div>

    <div *ngIf="!virtualTour">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="film-outline"></ion-icon>
        <ion-label class="ion-text-wrap" color="primary">
          <b>{{ 'istruzioni-sblocco-multimedia' | translatePipe}}</b>
        </ion-label>
      </ion-item>
      <ion-slides pager="true">
        <ion-slide style="
        width: 50%;">
          <div class="slide">
            <h2 [routerLink]="['/tablinks/dashboard']">{{ 'scansione' | translatePipe}}</h2>
            <p><b>{{ 'premi-su-tab-scansione' | translatePipe}}</b></p>
            <img src="../../../../assets/images/slide-1.png" />
          </div>
        </ion-slide>

        <ion-slide>
          <h2>{{ 'attiva-bluetooth' | translatePipe}}</h2>
          <p><b></b></p>
          <img src="../../../../assets/images/slide-2.png" />
        </ion-slide>

        <ion-slide>
          <h2>{{ 'avvicinati-alla-chiesa' | translatePipe}}</h2>
          <p><b></b></p>
          <img src="../../../../assets/images/slide-3.png" />
        </ion-slide>

        <ion-slide>
          <h2>{{ 'scopri-i-multimedia' | translatePipe}}</h2>
          <p><b></b></p>
          <img src="../../../../assets/images/slide-4.png" />
        </ion-slide>

      </ion-slides>
    </div>

    <ion-item *ngIf="chiesa[0].bibliografia">
      <ion-label class="ion-text-wrap" color="dark" [innerHTML]="chiesa[0]?.bibliografia">
      </ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>

<ion-card *ngIf="!chiesa">
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div>


  <ion-card-header>

    <ion-item lines="none">
      <ion-card-title class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-title>
      <ion-icon>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-card-title class="ion-text-wrap">
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-title>
      <ion-icon>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>